.hero-section {
  background: linear-gradient(
      rgba(29, 27, 38, 0.5), /* Dark gradient with slight transparency */
      rgba(29, 27, 38, 0.5)
    ),
    url("../../../../public/photos/starrysky-main.webp"); /* Your background image */
  background-size: cover; /* Ensure the image covers the full section */
  background-position: center; /* Center the image */
  height: 60vh; /* Height of the section */
  display: flex;
  align-items: center;
  color: var(--secondary-amber);
  text-align: left;
  font-family: "Inter";
  padding: 0 5rem;
}


.hero-content {
  max-width: 600px;
  width: 80%; /* Adjust width for mobile */
  padding: 20px; /* Add padding for better spacing */
}

.hero-name-highlight {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--text-color);
  
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Place aurora in front of the text */
  pointer-events: none;
  mix-blend-mode: darken;
}

.aurora_item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #145214; /* Start with green for the first aurora item */
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(1rem);
  
  
}

/* Color and animation for each aurora item */
.aurora_item:nth-of-type(1) {
  top: -50%;
  left: -50%;
  background-color: #145214; /* Green */
  animation: aurora-1 12s ease-in-out infinite alternate;
}

.aurora_item:nth-of-type(2) {
  right: -50%;
  top: 0;
  background-color: #FAF9F6; /* White */
  animation: aurora-2 12s ease-in-out infinite alternate;
}

.aurora_item:nth-of-type(3) {
  left: 0;
  bottom: -50%;
  background-color: #327827; /* Dark gray */
  animation: aurora-3 8s ease-in-out infinite alternate;
}

.aurora_item:nth-of-type(4) {
  right: 0;
  bottom: -50%;
  background-color: #8d8d8d; /* Gray */
  animation: aurora-4 16s ease-in-out infinite alternate;
}

/* Aurora item animations */
@keyframes aurora-1 {
  0% { top: 0; left: 0; }
  50% { top: 100%; left: 75%; }
  100% { top: 0; left: 0; }
}

@keyframes aurora-2 {
  0% { top: -50%; right: 0%; }
  60% { top: 100%; right: 75%; }
  100% { top: -50%; right: 0%; }
}

@keyframes aurora-3 {
  0% { bottom: 0; left: 0; }
  50% { bottom: 100%; left: 75%; }
  100% { bottom: 0; left: 0; }
}

@keyframes aurora-4 {
  0% { bottom: -50%; right: 0; }
  50% { bottom: 0%; right: 40%; }
  100% { bottom: -50%; right: 0; }
}



.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #FAF9F6;
  background: linear-gradient(45deg, #145214, #1D1B26);
  background-size: 200% 200%;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  animation: gradientAnimation 4s ease infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

.cta-button:hover {
  background-position: 200% 200%;
  transform: scale(1.1);
  animation: hoverGradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden-text {
  width: auto;
}


@media (max-width: 768px) {
  .hero-section {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 0 0 0;
  }

  .hero-content {
    width: 80%;
    padding: 20px;
    margin-top: 30px;
  }

  .hero-statement {
    font-size: 4rem;
  }

  .hero-caption {
    font-size: 1.5rem;
  }

  .cta-button {
    font-size: 1rem;
  }
}
