/* TalkPage.css */

.talk-page {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  position: relative;
  background-image: url('/public/photos/glasses.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes up the full height of the viewport */
}

.talk-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0px 20px 0px;
  flex-grow: 1; /* Ensure content pushes the footer down */
  
}

.talk-box {
  background-color: rgba(17, 17, 17, 0.8); 
  padding: 20px;
  border-radius: 8px;
}

.talk-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.talk-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-family: "Judson";
}

.talk-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.form-row span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.form-row label {
  position: relative;
  flex: 1;
  margin: 0 5px;
}

.form-row input,
.form-row select {
  width: 100%;
  padding: 10px 5px;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}


.form-row input::placeholder, .form-row select {
  color: #dddddd;
  font-family: 'Judson', sans-serif;
  font-size: 0.9rem;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.spacer {
  margin: 10px;
}

#talk-cta-button {
  display: block;
  width: 40%; /* Adjust the width as needed */
  margin: 20px auto; /* This centers the button horizontally */
  text-align: center; /* Center the text inside the button */
}

.error-message {
  color: #b5191c; /* Red color for errors */
  margin-bottom: 15px;
  font-size: 1.1rem;
  text-align: center;
}

.success-animation {
  background: linear-gradient(45deg, #145214, #1D1B26);
  color: var(--text-color);
  transition: background-color 0.5s, transform 0.5s;
}

.success-animation.grow {
  transform: scale(1.1);
}

.success-message {
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-top: 20px; /* Adds some space above the success message */
  font-size: 1.2rem;
  letter-spacing: 0.5px; /* Adjusts the letter spacing */
  line-height: 1.6; /* Increases line height for better readability */
}

.underline {
  text-decoration: underline;
  position: static; /* Ensure it’s not absolutely positioned */
  line-height: normal; /* Adjust line-height if needed */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
  border-radius: 5px; /* Adjust the value for the roundness */
  background: linear-gradient(45deg, #145214, #1D1B26);

}


.success-message p {
  color: var(--text-color);
  
}

.success-message.show {
  opacity: 1;
}


@media (max-width: 768px) {
  .talk-content {
    display: flex;
    justify-content: center;
  }
  .talk-box {
    width: 80%;
    height: auto;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px; /* Add some space between rows */
    
  }

  #name-line, #role-line, #company-line, #email-line {
    flex-direction: row;
    width: 100%; /* Make sure the lines take full width */
  }

  .form-row input,
  .form-row select {
    width: 100%; /* Adjust to full width for input and select elements */
  }

  .form-row span {
    flex: 0 0 auto; /* Keep the span elements aligned naturally with the text */
    padding-top: 5px;
    margin-right: 5px;
  }

  .form-row label {
    flex: 1 1 auto;
    margin-right: 5px;
    margin: 0px;
  }



  #talk-cta-button {
    display: block;
    width: 80%;
    margin: 20px auto 0 auto;
  }
}