.contact-section {
  background: linear-gradient(to right, #FAF9F6, #a2a2a2); /* Multi-step gradient */
  text-align: center;
  font-family: 'Inter';
  color: var(--bg);
  position: relative;
  overflow: hidden;  /* Prevent overflow issues during animation */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-subheading p {
  font-size: 2rem;
  margin-bottom: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex: 1;
}

.contact-form-container {
  display: flex;
  flex-direction: column; /* Side by side for form and checkbox group */
  justify-content: center; /* Equal space between form and checkbox group */
  align-items: flex-start; /* Align items to the top */
  gap: 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative; /* Necessary for centering the submit button */
}

.contact-form-input-groups {
  display: flex;
  justify-content: space-between; /* Side by side for form and checkbox group */
  gap: 75px;
  width: 100%;
}

.contact-form,
.checkbox-group {
  flex: 1; /* Ensure both sections take up equal space */
  max-width: 350px; /* Control the width of each section */
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.form-section-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  flex: 1;
}

.checkbox-group label {
  font-size: 1rem;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.checkbox-area {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-area svg {
  width: 30px;
}

.checkbox-area:hover {
  background: linear-gradient(45deg, #145214, #1D1B26);
  border-radius: 5px;
  padding: 10px;
  color: #FAF9F6;
}

.checkbox-area span {
  flex-grow: 1; /* Ensure the text takes up available space */
}

.star-icon {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
  color: var(--bg);
  transition: transform 0.2s ease; /* Smooth transition */
  flex-shrink: 0;
}

.star-icon.checked {
  color: #FBBF24; /* Golden color for checked state */
}

.cta-button {
  align-self: center; /* Center the button below both sections */
  margin-bottom: 10px;
}

.check-icon {
  font-size: 3rem;
  color: var(--text-color);
}

.success-message {
  text-align: center;
  padding: 20px;
}

.success-message h2 {
  font-size: 1.5rem;
  color: #145214;
}

.success-message p {
  font-size: 1rem;
  color: #145214;
}


/* Flex column direction for mobile view */
@media (max-width: 768px) {
  .contact-form-input-groups {
    align-items: center; /* Center align the items */
    flex-direction: column;
    gap: 0;
  }

  .contact-subheading {
    width: 50%; /* Adjust the width to fit nicely under the heading */
    max-width: 400px; /* Ensure it doesn't stretch too wide */
    margin: 0 auto 20px auto; /* Center the subheading and add some spacing below */
    text-align: center; /* Center the text */
  }

  .checkbox-group {
    align-items: left;
    justify-content: left;
    max-width: 200px;
  }

  .contact-form input {
    width: 100%;
    max-width: 300px;
  }

  .checkbox-area {
    justify-content: left;
  }

  .cta-button {
    width: 100%;
    max-width: 200px;
    margin: 20px auto 10px auto; /* Center the button */
  }
}
