/* AboutPage.css */

/* General Styles */
.about-page {
  font-family: 'Inter', sans-serif;
  color: var(--bg);
  background-color: var(--text-color);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


/* About Hero Section */

.about-hero-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 100px 50px 50px 50px;
  position: relative;
  gap: 10vw;
}

.about-hero-content {
  max-width: 50%;
  z-index: 2;
}

.about-hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about-hero-image {
  position: relative;
  max-width: 50%;
  z-index: 1; /* Ensure image stays above overlay */
}

.about-hero-image img {
  position: relative;
  width: 50%;
  height: auto;
  border-radius: 50%;
  z-index: 2;
}

.green-overlay {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  height: 100%;
  background: var(--primary-green);
  border-radius: 50%;
  z-index: 0;
  transform: rotate(-15deg);
}

.magic-definition {
  max-width: 80%;
}

/* Base styling for the magic phrase, wrapping both quotation marks and the word */
.magic-phrase {
  white-space: nowrap; /* Prevents line breaks for the entire phrase */
}


/* Base styling for magic word */
.magic-word {
  color: var(--primary-green);
  font-weight: bold;
  font-style: italic;
  position: relative;
  display: inline-block;
  transition: color 0.5s ease, text-shadow 0.5s ease;
  cursor: pointer;
  white-space: nowrap;
}
/* Only show sparkle effects when the 'sparkles' class is added */
.magic-word.sparkles::before,
.magic-word.sparkles::after {
  content: '✨';
  position: absolute;
  opacity: 0;
  font-size: 1.5rem;
  color: var(--primary-green);
  animation: sparkle 2s infinite alternate ease-in-out;
}

.magic-word.sparkles::before {
  left: -1.5rem;
  top: -0.5rem;
}

.magic-word.sparkles::after {
  right: -1.5rem;
  bottom: -0.5rem;
}

/* Default state for before and after (hidden until clicked) */
.magic-word::before,
.magic-word::after {
  opacity: 0;
}

/* Keyframes for sparkle effect */
@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.75;
    transform: scale(1.25);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

/* About Hero Section Mobile Styling  */

@media (max-width: 768px) {
  .about-hero-section {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px 20px 20px;
    height: auto;
  }

  .about-hero-content {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    margin: 20px 10px 20px 10px;
  }

  .about-hero-content h1 {
    font-size: 2.25rem;
  }

  .about-hero-image {
    width: 100%;
    margin-top: 20px;
  }
  
  .about-hero-image img {
    height: 100%;
    margin-top: 20px;
  }

  .hero-image-overlay {
    width: 70%;
    height: 70%;
  }
}

/* Values Section */
.values-section {
  padding: 25px 50px 25px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.values-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: var(--text-color-secondary);
}

.values {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.value {
  flex: 1 1 30%;
  max-width: 30%;
  margin: 10px;
  box-sizing: border-box;
  text-align: left;
}

.value-icon {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.value h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.value p {
  font-size: 1rem;
  margin-top: 10px;
}

.values-explaination {
  max-width: 40vw;
}


/* Media queries for smaller screens */
@media (max-width: 768px) {
  .values {
    flex-direction: column;  /* Stack the values vertically on small screens */
    align-items: center;
  }

  .value {
    flex: 1 1 100%;  /* Full width on small screens */
    max-width: 100%;  /* Ensure each item takes full width */
    margin: 15px 0;
    text-align: center;  /* Center text on mobile */
  }

  .value p {
    padding: 0 20px;  /* Add padding to make text more readable */
  }

  .values-explaination {
    max-width: 70vw;
  }
}

/* About Me Section */
.about-me-section {
  padding: 50px;
  text-align: center;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.about-me-image{
  margin: 30px;
}

.about-me-image img {
  width: 350px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.about-me-text {
  max-width: 700px;
  margin: 10px;
}

.about-me-text h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.about-me-text p {
  font-size: 1rem;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    text-align: center;
  }

  .about-me-image {
    margin-bottom: 20px;
  }

  .about-me-image img {
    width: 150px;
  }

  .about-me-text {
    max-width: 100%;
    text-align: center;
  }
}

/* Partners Section */
.partners-section {
  padding: 50px;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner {
  flex: 1 1 30%;
  max-width: 30%;
  margin: 10px;
}

.partner img {
  width: 100%;
  height: auto;
}

.partner h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* CTA Button */
.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #FAF9F6;
  background-color: #145214;
  border: none;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0e3d1a;
}
